layout {
    tab cwd="${YEAR}/${DAY}" {
      pane split_direction="vertical" {
          pane edit="main.go" {
              name "Editing main.go"
              size "65%"
          }
          pane split_direction="horizontal" {
              name "Tests"
              pane command="go" {
                  name "Test - Sample"
                  start_suspended false
                  args "run" "github.com/cosmtrek/air" "--build.args_bin" "-i,sample.txt" "--build.delay" "0" "--misc.clean_on_exit" "true"
              }
              pane command="go" {
                  name "Test - Actual"
                  start_suspended false
                  args "run" "github.com/cosmtrek/air" "--build.args_bin" "-i,input.txt" "--build.delay" "0" "--misc.clean_on_exit" "true"
              }
          }
      }
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
      }
    }
}

